.list {
	margin: 1.5rem 0rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listcontent {
	margin: 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list h3 {
	margin: 0 2rem 0.3rem 0;
}

.description {
	margin: 0rem;
	font-style: italic;
	font-weight: lighter;
}

.price {
	margin-top: 0.25rem;
	font-size: 24px;
	font-weight: bolder;
	color: firebrick;
}

.btn button {
	font-size: large;
	font-weight: bold;
	text-align: end;
	color: brown;
	margin-left: 1rem;
	padding: 0.75rem 0.5rem 0.75rem 0.75rem;
	width: 9rem;
	background-color: palevioletred;
	border: 0px solid violet;
	border-radius: 5px;
}

.btn button:hover {
	color: palevioletred;
	background-color: rgba(165, 42, 42, 0.87);
}

.hr {
	border-style: none;
	border-top: 2px solid rgb(241 121 121 / 50%);
	margin: 1rem 0rem 0;
}

.hr:last-child {
	border-style: none;
}
